@import url("footer.css");
@import url("header.css");
@import url("navbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D1CDC2;
  color: #35383e;
  margin-top: 30px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.container-content {
  text-align: center;
  padding: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container .imagenes-choluteca div p,
.container .imagenes-choluteca strong p,
.container .container-content p,
.container .container-content .tradiciones p {
  text-align: center;
  font-size: 18px;
}

.container-content ul {
  list-style-type: none;
  padding: 0;
}

.container p {
  margin-top: 10px;
  text-align: justify;
  font-size: 18px;
}

.imagenes-choluteca img {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagenes-choluteca {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.frase-choluteca {
  margin-top: 10px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .imagenes-choluteca {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-content {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
  }

  .container .imagenes-choluteca p,
  .container .container-content p {
    text-align: justify;
    font-size: 16px;
  }
}

@media (max-width: 820px) {
  .imagenes-choluteca {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .container-content {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  }

  .container .imagenes-choluteca p,
  .container .container-content p {
    text-align: justify;
    font-size: 14px;
  }
  .container ul {
    text-align: justify;
  }
}
