.navbar {
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35383e;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.bar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  visibility: hidden; 
  display: none; 
}

.logo {
  font-weight: 700;
  color: #D1CDC2;
  margin-left: 10px;
  font-size: 25px;
}

.navbar ul {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul a {
  text-decoration: none;
  list-style: none;
}

.navbar ul li {
  color: #D1CDC2;
  padding: 10px 10px;
}

.navbar ul li:hover {
  background-color: #D1CDC2;
  color: #35383e;
}

@media (max-width: 800px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%; 
    top: 40px;
    background-color: #35383e;
    width: 100%; 
    transition: left 0.3s ease; 
  }

  .navbar ul.active {
    left: 0; 
  }

  .navbar ul a {
    text-align: center;
    width: 100%;
  }

  .bar {
    visibility: visible;
    display: block;
    cursor: pointer;
  }
}
